CREATE DATABASE HospitalManagement
GO 
USE [HospitalManagement]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Phone] [nvarchar](15) NULL,
	[UserName] [nvarchar](50) NULL,
	[LinkAvatar] [nvarchar](250) NULL,
	[Gender] [bit] NOT NULL,
	[Password] [nvarchar](250) NULL,
	[Role] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[PatientId] [uniqueidentifier] NULL,
	[DoctorId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Article] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentAssigns]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentAssigns](
	[Id] [uniqueidentifier] NOT NULL,
	[AttachmentId] [uniqueidentifier] NOT NULL,
	[DetailRecordId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.AttachmentAssigns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attachments]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachments](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Attachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailPrescription]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailPrescription](
	[Id] [uniqueidentifier] NOT NULL,
	[Amount] [int] NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[MedicineId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.DetailPrescription] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailRecord]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailRecord](
	[Id] [uniqueidentifier] NOT NULL,
	[DiseaseName] [nvarchar](200) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Result] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[DoctorId] [uniqueidentifier] NULL,
	[FacultyId] [uniqueidentifier] NULL,
	[Process] [int] NOT NULL,
	[RecordId] [uniqueidentifier] NOT NULL,
	[IsMainRecord] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.DetailRecord] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Descriptions] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Gender] [bit] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
	[FacultyId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.Doctor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorSchedule]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[ScheduleBook] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DoctorSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Faculty] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Amount] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalSupplies]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalSupplies](
	[Id] [uniqueidentifier] NOT NULL,
	[DateOfHire] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.MedicalSupplies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Medicine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Gender] [bit] NOT NULL,
	[IndentificationCardId] [varchar](20) NULL,
	[Phone] [varchar](15) NOT NULL,
	[Status] [bit] NOT NULL,
	[ImageProfile] [nvarchar](max) NULL,
	[PatientCode] [nvarchar](max) NOT NULL,
	[JoinDate] [datetime2](7) NOT NULL,
	[IndentificationCardDate] [datetime] NOT NULL,
	[Job] [nvarchar](max) NULL,
	[WorkPlace] [nvarchar](max) NULL,
	[HistoryOfIllnessFamily] [nvarchar](max) NULL,
	[HistoryOfIllnessYourself] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Email] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Patient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientDoctor]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDoctor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PatientDoctor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientRecord]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientRecord](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[TestDate] [datetime] NOT NULL,
	[BloodVessel] [float] NOT NULL,
	[BodyTemperature] [float] NOT NULL,
	[Height] [float] NOT NULL,
	[Weight] [float] NOT NULL,
	[Breathing] [float] NOT NULL,
	[VisionWithoutGlassesRight] [nvarchar](max) NULL,
	[VisionWithoutGlassesLeft] [nvarchar](max) NULL,
	[VisionWithGlassHoleLeft] [nvarchar](max) NULL,
	[VisionWithGlassHoleRight] [nvarchar](max) NULL,
	[VisionWithGlassLeft] [nvarchar](max) NULL,
	[VisionWithGlassRight] [nvarchar](max) NULL,
	[EyePressureRight] [nvarchar](max) NULL,
	[EyePressureLeft] [nvarchar](max) NULL,
	[ClinicalSymptoms] [nvarchar](max) NULL,
	[DiagnosingTwoEyes] [nvarchar](max) NULL,
	[DiagnosingLeftEyes] [nvarchar](max) NULL,
	[DiagnosingRightEyes] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DoctorId] [uniqueidentifier] NULL,
	[RecordId] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.PatientRecord] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[Id] [uniqueidentifier] NOT NULL,
	[DetailPrescriptionId] [uniqueidentifier] NOT NULL,
	[DetailRecordId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Prescription] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Record]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Record](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[DoctorId] [uniqueidentifier] NULL,
	[Note] [nvarchar](max) NULL,
	[Result] [nvarchar](max) NULL,
	[StatusRecord] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Record] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserVerification]    Script Date: 2/22/2022 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserVerification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mode] [nvarchar](max) NULL,
	[Token] [nvarchar](max) NULL,
	[TokenExpirationDate] [datetime] NULL,
	[VerificationCode] [nvarchar](max) NULL,
	[CodeExpirationDate] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [int] NULL,
	[Link] [int] NOT NULL,
	[AccountId] [int] NULL,
	[Email] [nvarchar](max) NULL,
	[DeletedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.UserVerification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Id], [FullName], [Phone], [UserName], [LinkAvatar], [Gender], [Password], [Role], [IsDeleted], [PatientId], [DoctorId]) VALUES (N'e476a8d3-62e2-476c-945d-031e8f76d78f', N'Santina Hoeger', N'881-721-0265', N'santina.hoeger', NULL, 1, N'7AHIx4e55p5e679/EO9cq8D9eo0uB7BC', 3, 0, N'f37dfe1c-8f79-4d01-8431-af01ef2182f3', NULL)
INSERT [dbo].[Account] ([Id], [FullName], [Phone], [UserName], [LinkAvatar], [Gender], [Password], [Role], [IsDeleted], [PatientId], [DoctorId]) VALUES (N'c1fa7d7c-bbf4-438a-9bae-1102a0e3ae75', N'Nguyễn Thị Thu Phương', N'0398.557.117', N'thuphuong', NULL, 1, N'7AHIx4e55p5UJeIcWrhrag==', 2, 0, NULL, N'4d1a222e-e1a4-43df-8fdc-035ba96b33f5')
INSERT [dbo].[Account] ([Id], [FullName], [Phone], [UserName], [LinkAvatar], [Gender], [Password], [Role], [IsDeleted], [PatientId], [DoctorId]) VALUES (N'4f5bdc4f-f8ca-4f0b-b9fc-1fd59dcad56f', N' Le mirage', N'0465330288', N'le.mirage', NULL, 1, N'7AHIx4e55p5e679/EO9cq8D9eo0uB7BC', 3, 0, N'd22382bf-b889-4356-8627-f04d186a6720', NULL)
GO
INSERT [dbo].[AttachmentAssigns] ([Id], [AttachmentId], [DetailRecordId]) VALUES (N'60e2fe31-c86b-461e-ada5-69189163008b', N'a7af9388-dd0b-4a74-9f5f-d8b1b7d64284', N'87f3e163-e3f1-4f3c-a7e0-89b0b4806c8b')
INSERT [dbo].[AttachmentAssigns] ([Id], [AttachmentId], [DetailRecordId]) VALUES (N'54c4583c-baf5-4367-ace6-b3b7e97a0695', N'0e8c1d9a-15f8-4eab-a9fd-7e9d7a859151', N'36f35c65-b7e2-483a-b20b-d29e14af1e5f')
INSERT [dbo].[AttachmentAssigns] ([Id], [AttachmentId], [DetailRecordId]) VALUES (N'082df813-d0a7-4381-bba4-d8f01138bc81', N'41872f85-5d9c-4ba8-a65c-47789a1389e9', N'be30dad7-d402-4168-8ffc-110a566b38f4')
GO
INSERT [dbo].[Attachments] ([Id], [Name], [Type], [Url], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'41872f85-5d9c-4ba8-a65c-47789a1389e9', N'Xquang', N'Ảnh', N'/FileUploads/images/chup-x-quang-khop-goi1-500x362.jpg', CAST(N'2021-10-10T18:05:32.660' AS DateTime), N'Quản Trị', CAST(N'2021-10-10T18:05:32.660' AS DateTime), N'Quản Trị')
INSERT [dbo].[Attachments] ([Id], [Name], [Type], [Url], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'0e8c1d9a-15f8-4eab-a9fd-7e9d7a859151', N'Ảnh X quang', N'Ảnh XQuang', N'/FileUploads/images/chup-x-quang-khop-goi1-500x362.jpg', CAST(N'2021-09-06T22:12:51.643' AS DateTime), N'Quản Trị', CAST(N'2021-09-06T22:12:51.643' AS DateTime), N'Quản Trị')
INSERT [dbo].[Attachments] ([Id], [Name], [Type], [Url], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'a7af9388-dd0b-4a74-9f5f-d8b1b7d64284', N'X- Quang', N'Anh', N'/FileUploads/images/chup-x-quang-khop-goi1-500x362.jpg', CAST(N'2021-11-20T20:42:34.627' AS DateTime), N'Quản Trị', CAST(N'2021-11-20T20:42:34.627' AS DateTime), N'Quản Trị')
GO
INSERT [dbo].[Category] ([Id], [Name], [Unit], [Description]) VALUES (N'1cfceeee-5af0-44e1-9b40-081e1aa299a9', N'Máy Xông Khí Dung', N'Chiếc', N'oOF')
INSERT [dbo].[Category] ([Id], [Name], [Unit], [Description]) VALUES (N'4ceae1b4-011f-442c-91c3-37361e692c7a', N'Giường bệnh', N'Chiếc', N'This is giường bệnh')
INSERT [dbo].[Category] ([Id], [Name], [Unit], [Description]) VALUES (N'109cc517-2b44-4c8a-9bff-47eff7195cc8', N'Đai Nẹp Y Tế', N'Chiếc', N'Đai Nẹp Y Tế')
GO
INSERT [dbo].[DetailPrescription] ([Id], [Amount], [Unit], [Note], [MedicineId]) VALUES (N'8522ebc1-1973-41b7-ba7a-7473c84be0ec', 1, N'Viên', N'- Ngày uống 2 lần sau ăn  ', N'b33b0524-7ba8-442a-8f7a-00a5ce09824e')
INSERT [dbo].[DetailPrescription] ([Id], [Amount], [Unit], [Note], [MedicineId]) VALUES (N'215b4fc1-213c-44c6-b58a-9a664f83b8d3', 1, N'Viên', N'- Ngày uống 2 lần sau ăn  ', N'b33b0524-7ba8-442a-8f7a-00a5ce09824e')
INSERT [dbo].[DetailPrescription] ([Id], [Amount], [Unit], [Note], [MedicineId]) VALUES (N'c6d8a50c-b7c3-40f3-883c-d1170116e7ab', 1, N'Viên', N'- Ngày uống 2 lần sau ăn  ', N'641dbbb8-788a-4760-b5ed-125579b117e0')
GO
INSERT [dbo].[DetailRecord] ([Id], [DiseaseName], [Note], [Result], [Status], [DoctorId], [FacultyId], [Process], [RecordId], [IsMainRecord]) VALUES (N'3fad4201-635f-4f6d-b76c-069e81c2c8b1', N'Thăm khám 22/08/2021 15:40:29', NULL, NULL, 1, NULL, NULL, 0, N'13009fe8-805e-4b36-ae2a-90ed56cd2948', 1)
INSERT [dbo].[DetailRecord] ([Id], [DiseaseName], [Note], [Result], [Status], [DoctorId], [FacultyId], [Process], [RecordId], [IsMainRecord]) VALUES (N'be30dad7-d402-4168-8ffc-110a566b38f4', N'Chụp XQuang', NULL, NULL, 0, N'4d1a222e-e1a4-43df-8fdc-035ba96b33f0', N'0fa9a61e-1a4c-4222-a3cd-06e211569932', 1, N'dd8ed959-d8d4-425a-9730-c5dc50b70255', 0)
INSERT [dbo].[DetailRecord] ([Id], [DiseaseName], [Note], [Result], [Status], [DoctorId], [FacultyId], [Process], [RecordId], [IsMainRecord]) VALUES (N'f0bc5190-0aa8-44c7-abe1-6836a8e5f615', N'Thăm khám 06/09/2021 22:09:08', NULL, NULL, 1, NULL, NULL, 0, N'7e3136fa-015b-4616-bb6e-70c80608fbd8', 1)
GO
INSERT [dbo].[Doctor] ([Id], [Name], [Avatar], [Descriptions], [Address], [Gender], [Phone], [Email], [IsDelete], [FacultyId]) VALUES (N'4d1a222e-e1a4-43df-8fdc-035ba96b33f0', N'Nguyễn Xuân Trường', N'/FileUploads/images/avatas/Doctor/book-doc-03.jpg', N'Là bác sĩ tuyến đầu', N'227 Thiên Đức', 1, N'0987.389.898', N'a@gmail.com', 0, N'0fa9a61e-1a4c-4222-a3cd-06e211569932')
INSERT [dbo].[Doctor] ([Id], [Name], [Avatar], [Descriptions], [Address], [Gender], [Phone], [Email], [IsDelete], [FacultyId]) VALUES (N'4d1a222e-e1a4-43df-8fdc-035ba96b33f1', N'Quách Thị Huệ', N'/FileUploads/images/avatas/Doctor/book-doc-04.jpg', N'Là bác sĩ tuyến đầu', N'20 Hoàng Quốc Việt', 0, N'0378.574.337', N'a@gmail.com', 0, N'4d1a222e-e1a4-43df-8fdc-035ba96b33f0')
INSERT [dbo].[Doctor] ([Id], [Name], [Avatar], [Descriptions], [Address], [Gender], [Phone], [Email], [IsDelete], [FacultyId]) VALUES (N'4d1a222e-e1a4-43df-8fdc-035ba96b33f2', N'Nguyễn Thị Bích Hằng', N'/FileUploads/images/avatas/Doctor/book-doc-01.jpg', N'Là bác sĩ tuyến đầu', N'496 Nguyễn Trãi', 0, N'0966.595.695', N'a@gmail.com', 0, N'18d7ab2f-f5d1-4c40-9081-195ea9e1ccbc')
GO
SET IDENTITY_INSERT [dbo].[DoctorSchedule] ON 

INSERT [dbo].[DoctorSchedule] ([Id], [DoctorId], [PatientId], [ScheduleBook], [Status]) VALUES (1, N'4d1a222e-e1a4-43df-8fdc-035ba96b33f0', N'e623d654-d0f5-45fb-9e80-d92e6145953e', CAST(N'2021-08-15T17:27:00.000' AS DateTime), 100)
INSERT [dbo].[DoctorSchedule] ([Id], [DoctorId], [PatientId], [ScheduleBook], [Status]) VALUES (2, N'4d1a222e-e1a4-43df-8fdc-035ba96b33f3', N'b7452a11-0869-49eb-8b13-edf3cd193be2', CAST(N'2021-09-07T10:16:00.000' AS DateTime), 100)
INSERT [dbo].[DoctorSchedule] ([Id], [DoctorId], [PatientId], [ScheduleBook], [Status]) VALUES (3, N'4d1a222e-e1a4-43df-8fdc-035ba96b33f0', N'b7452a11-0869-49eb-8b13-edf3cd193be2', CAST(N'2021-09-06T23:01:00.000' AS DateTime), 101)
SET IDENTITY_INSERT [dbo].[DoctorSchedule] OFF
GO
INSERT [dbo].[Faculty] ([Id], [Name]) VALUES (N'4d1a222e-e1a4-43df-8fdc-035ba96b33f0', N'Khoa Ngoại Chấn thương chỉnh hình')
INSERT [dbo].[Faculty] ([Id], [Name]) VALUES (N'9281f3b4-4158-4ee1-9b29-06b95190123f', N'Khoa Ngoại Thần kinh')
INSERT [dbo].[Faculty] ([Id], [Name]) VALUES (N'0fa9a61e-1a4c-4222-a3cd-06e211569932', N'Khoa Bệnh Nhiệt đới')
GO
INSERT [dbo].[Item] ([Id], [Name], [Amount], [Description], [CategoryId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'a7722a12-dcb3-4cae-8f91-82465c28b8f1', N'Khung Tập Đi', 5, N'Khung Tập Đi Tốt', N'0a79281d-1a05-4b3e-80e8-eb64dbe7729c', CAST(N'2020-06-06T20:54:01.843' AS DateTime), N'Quản Trị', CAST(N'2020-06-06T20:54:01.843' AS DateTime), N'Quản Trị')
INSERT [dbo].[Item] ([Id], [Name], [Amount], [Description], [CategoryId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'039cb852-9f46-41da-b258-951210dbd822', N'Máy thở - 01', 1, N'Đây là máy thở', N'0874d4ae-3866-4697-bd36-9b8e1ffb063a', CAST(N'2020-06-06T20:54:02.030' AS DateTime), N'Quản Trị', CAST(N'2020-06-06T20:54:02.030' AS DateTime), N'Quản Trị')
INSERT [dbo].[Item] ([Id], [Name], [Amount], [Description], [CategoryId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'039cb852-9f46-41da-b258-951210dbd823', N'Máy thở - 02', 1, N'Đây là máy thở', N'0874d4ae-3866-4697-bd36-9b8e1ffb063a', CAST(N'2020-06-06T20:54:02.037' AS DateTime), N'Quản Trị', CAST(N'2020-06-06T20:54:02.037' AS DateTime), N'Quản Trị')
GO
INSERT [dbo].[MedicalSupplies] ([Id], [DateOfHire], [Status], [Amount], [ItemId], [PatientId]) VALUES (N'90a3acfb-76f5-465a-a2de-53597b677dca', CAST(N'2021-09-06T22:13:00.000' AS DateTime), 1, 1, N'a7722a12-dcb3-4cae-8f91-82465c28b8f1', N'b7452a11-0869-49eb-8b13-edf3cd193be2')
GO
INSERT [dbo].[Medicine] ([Id], [Name], [Description]) VALUES (N'b33b0524-7ba8-442a-8f7a-00a5ce09824e', N'Natri chloride 10%', N'')
INSERT [dbo].[Medicine] ([Id], [Name], [Description]) VALUES (N'bf6b0f93-4888-4dd4-ab24-04860b9eb638', N'Alteplase', N'')
INSERT [dbo].[Medicine] ([Id], [Name], [Description]) VALUES (N'bd384744-4fd5-4031-a017-07a43c68d815', N'Acid Ursodeoxycholic', N'')
GO
SET IDENTITY_INSERT [dbo].[PatientDoctor] ON 

INSERT [dbo].[PatientDoctor] ([Id], [DoctorId], [PatientId], [Status]) VALUES (1, N'4d1a222e-e1a4-43df-8fdc-035ba96b33f0', N'e623d654-d0f5-45fb-9e80-d92e6145953e', 1)
INSERT [dbo].[PatientDoctor] ([Id], [DoctorId], [PatientId], [Status]) VALUES (2, N'4d1a222e-e1a4-43df-8fdc-035ba96b33f3', N'b7452a11-0869-49eb-8b13-edf3cd193be2', 1)
INSERT [dbo].[PatientDoctor] ([Id], [DoctorId], [PatientId], [Status]) VALUES (3, N'4d1a222e-e1a4-43df-8fdc-035ba96b33f0', N'b7452a11-0869-49eb-8b13-edf3cd193be2', 1)
SET IDENTITY_INSERT [dbo].[PatientDoctor] OFF
GO
INSERT [dbo].[Prescription] ([Id], [DetailPrescriptionId], [DetailRecordId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'de7b094a-16a0-4809-8195-4cfa61dd703f', N'c6d8a50c-b7c3-40f3-883c-d1170116e7ab', N'f0bc5190-0aa8-44c7-abe1-6836a8e5f615', CAST(N'2022-02-21T21:46:59.963' AS DateTime), N'Quản Trị', CAST(N'2022-02-21T21:46:59.963' AS DateTime), N'Quản Trị')
INSERT [dbo].[Prescription] ([Id], [DetailPrescriptionId], [DetailRecordId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'ebafe82d-bbb9-4fc4-b91d-70843277ad5f', N'215b4fc1-213c-44c6-b58a-9a664f83b8d3', N'f0bc5190-0aa8-44c7-abe1-6836a8e5f615', CAST(N'2022-02-21T21:46:50.887' AS DateTime), N'Quản Trị', CAST(N'2022-02-21T21:46:50.887' AS DateTime), N'Quản Trị')
INSERT [dbo].[Prescription] ([Id], [DetailPrescriptionId], [DetailRecordId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'999576e6-f4e1-4b63-bca2-8fe35b56c2f4', N'927f36da-f037-4517-bcd4-e4b14b82a80a', N'f0bc5190-0aa8-44c7-abe1-6836a8e5f615', CAST(N'2022-02-21T21:46:55.537' AS DateTime), N'Quản Trị', CAST(N'2022-02-21T21:46:55.537' AS DateTime), N'Quản Trị')
GO
INSERT [dbo].[Record] ([Id], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DoctorId], [Note], [Result], [StatusRecord], [IsDelete]) VALUES (N'd52dbb0e-b84e-4b54-babe-2942887703b2', CAST(N'2021-08-22T15:14:54.890' AS DateTime), N'Nguyễn Xuân Trường', CAST(N'2021-08-22T15:15:48.950' AS DateTime), N'Nguyễn Xuân Trường', NULL, NULL, NULL, 0, 0)
INSERT [dbo].[Record] ([Id], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DoctorId], [Note], [Result], [StatusRecord], [IsDelete]) VALUES (N'7e3136fa-015b-4616-bb6e-70c80608fbd8', CAST(N'2021-09-06T22:10:04.403' AS DateTime), N'Quản Trị', CAST(N'2021-09-06T22:14:22.123' AS DateTime), N'Quản Trị', N'4d1a222e-e1a4-43df-8fdc-035ba96b33f4', N'- Bình Thường', N'- Bình Thường', 0, 0)
INSERT [dbo].[Record] ([Id], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DoctorId], [Note], [Result], [StatusRecord], [IsDelete]) VALUES (N'cade53c9-e430-40a2-bff5-90ab48626747', CAST(N'2021-08-22T15:36:52.650' AS DateTime), N'Quản Trị', CAST(N'2021-08-22T15:36:52.650' AS DateTime), N'Quản Trị', NULL, NULL, NULL, 0, 0)
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Account_dbo.Doctor_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_dbo.Account_dbo.Doctor_DoctorId]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Account_dbo.Patient_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_dbo.Account_dbo.Patient_PatientId]
GO
ALTER TABLE [dbo].[AttachmentAssigns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AttachmentAssigns_dbo.Attachments_AttachmentId] FOREIGN KEY([AttachmentId])
REFERENCES [dbo].[Attachments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttachmentAssigns] CHECK CONSTRAINT [FK_dbo.AttachmentAssigns_dbo.Attachments_AttachmentId]
GO
ALTER TABLE [dbo].[AttachmentAssigns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AttachmentAssigns_dbo.DetailRecord_DetailRecordId] FOREIGN KEY([DetailRecordId])
REFERENCES [dbo].[DetailRecord] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttachmentAssigns] CHECK CONSTRAINT [FK_dbo.AttachmentAssigns_dbo.DetailRecord_DetailRecordId]
GO
ALTER TABLE [dbo].[DetailPrescription]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetailPrescription_dbo.Medicine_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicine] ([Id])
GO
ALTER TABLE [dbo].[DetailPrescription] CHECK CONSTRAINT [FK_dbo.DetailPrescription_dbo.Medicine_MedicineId]
GO
ALTER TABLE [dbo].[DetailRecord]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetailRecord_dbo.Faculty_FacultyId] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculty] ([Id])
GO
ALTER TABLE [dbo].[DetailRecord] CHECK CONSTRAINT [FK_dbo.DetailRecord_dbo.Faculty_FacultyId]
GO
ALTER TABLE [dbo].[DetailRecord]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DetailRecord_dbo.Record_RecordId] FOREIGN KEY([RecordId])
REFERENCES [dbo].[Record] ([Id])
GO
ALTER TABLE [dbo].[DetailRecord] CHECK CONSTRAINT [FK_dbo.DetailRecord_dbo.Record_RecordId]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Doctor_dbo.Faculty_FacultyId] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculty] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_dbo.Doctor_dbo.Faculty_FacultyId]
GO
ALTER TABLE [dbo].[DoctorSchedule]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DoctorSchedule_dbo.Doctor_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DoctorSchedule] CHECK CONSTRAINT [FK_dbo.DoctorSchedule_dbo.Doctor_DoctorId]
GO
ALTER TABLE [dbo].[DoctorSchedule]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DoctorSchedule_dbo.Patient_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DoctorSchedule] CHECK CONSTRAINT [FK_dbo.DoctorSchedule_dbo.Patient_PatientId]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Item_dbo.Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_dbo.Item_dbo.Category_CategoryId]
GO
ALTER TABLE [dbo].[MedicalSupplies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MedicalSupplies_dbo.Item_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MedicalSupplies] CHECK CONSTRAINT [FK_dbo.MedicalSupplies_dbo.Item_ItemId]
GO
ALTER TABLE [dbo].[MedicalSupplies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MedicalSupplies_dbo.Patient_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[MedicalSupplies] CHECK CONSTRAINT [FK_dbo.MedicalSupplies_dbo.Patient_PatientId]
GO
ALTER TABLE [dbo].[PatientDoctor]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PatientDoctor_dbo.Doctor_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PatientDoctor] CHECK CONSTRAINT [FK_dbo.PatientDoctor_dbo.Doctor_DoctorId]
GO
ALTER TABLE [dbo].[PatientDoctor]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PatientDoctor_dbo.Patient_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PatientDoctor] CHECK CONSTRAINT [FK_dbo.PatientDoctor_dbo.Patient_PatientId]
GO
ALTER TABLE [dbo].[PatientRecord]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PatientRecord_dbo.Doctor_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([Id])
GO
ALTER TABLE [dbo].[PatientRecord] CHECK CONSTRAINT [FK_dbo.PatientRecord_dbo.Doctor_DoctorId]
GO
ALTER TABLE [dbo].[PatientRecord]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PatientRecord_dbo.Patient_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PatientRecord] CHECK CONSTRAINT [FK_dbo.PatientRecord_dbo.Patient_PatientId]
GO
ALTER TABLE [dbo].[PatientRecord]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PatientRecord_dbo.Record_RecordId] FOREIGN KEY([RecordId])
REFERENCES [dbo].[Record] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PatientRecord] CHECK CONSTRAINT [FK_dbo.PatientRecord_dbo.Record_RecordId]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Prescription_dbo.DetailPrescription_DetailPrescriptionId] FOREIGN KEY([DetailPrescriptionId])
REFERENCES [dbo].[DetailPrescription] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_dbo.Prescription_dbo.DetailPrescription_DetailPrescriptionId]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Prescription_dbo.DetailRecord_DetailRecordId] FOREIGN KEY([DetailRecordId])
REFERENCES [dbo].[DetailRecord] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_dbo.Prescription_dbo.DetailRecord_DetailRecordId]
GO
ALTER TABLE [dbo].[Record]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Record_dbo.Doctor_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([Id])
GO
ALTER TABLE [dbo].[Record] CHECK CONSTRAINT [FK_dbo.Record_dbo.Doctor_DoctorId]
GO
